<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Property</h3>
      <%= render 'shared/property_list' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>ShangWei and Matt's Brain Child</h1>

    <h2>
      Growing...
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  <div class="center hero-unit">
    <%= form_tag(properties_path, method: "get", class: "form-inline") do %>
      <div class="input-append">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Property" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>


<% end %>
