<h1>Listing properties</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="address">Name</th>
      <th>Address</th>
      <th>Rent</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.name, property %></td>
        <td><%= property.address %></td>
        <td><%= property.rent %></td>
        <td><%= property.description %></td>
        <td>
        <% if current_user?(property.user) %>
          <%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
