<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@property.latitude}%2C#{@property.longitude}" %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %>
