<p id="notice"><%= notice %></p>

<span>
<h1>
  <%= @property.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Total Rent </strong>
  <%= @property.total_rent %>
  <strong> in </strong>
  <%= @property.units.count %>
  <strong> units</strong>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@property.latitude}%2C#{@property.longitude}" %>
</p>

<div class="btn btn-meidum">
  <%= link_to 'Edit', edit_property_path(@property) %>
</div>

<div class="btn btn-meidum">
  <%= link_to "Add unit", new_unit_path(:property_id => @property.id, :property_name => @property.name) %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="address">unit</th>
      <th>Rent</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Sq. ft.</th>
    </tr>
  </thead>

  <tbody>
    <% @property.units.each do |unit| %>
      <tr>
        <td><%= link_to unit.unit, unit %></td>
        <td><%= unit.rent %></td>
        <td><%= unit.bedrooms %></td>
        <td><%= unit.bathrooms %></td>
        <td><%= unit.sqft %></td>
      </tr>
    <% end %>
  </tbody>
</table>
